<div class="grid grid-cols-4 gap-x-4 gap-y-4" id="skills">
  <div class="transition-opacity duration-300 hover:opacity-100 opacity-85">
    <a
      href="https://www.credly.com/badges/25085fa6-7eeb-44dc-a1c0-2e0d8a571d55/public_url"
      target="_blank"
    >
      <img src="/badges/containerfinal.png" alt="Container" /></a
    >
  </div>

  <div class="transition-opacity duration-300 hover:opacity-100 opacity-85">
    <a
      href="https://www.credly.com/badges/041caa92-eb19-4dff-a05f-9ce138c8e452/public_url"
      target="_blank"
    >
      <img src="/badges/devopsfinal.png" alt="devops" /></a
    >
  </div>

  <div class="transition-opacity duration-300 hover:opacity-100 opacity-85">
    <a
      href="https://www.credly.com/badges/eb28c9aa-eea1-4edb-a16b-d03db0fb396b/public_url"
      target="_blank"
    >
      <img src="/badges/linuxfinal.png" alt="linux" /></a
    >
  </div>

  <div class="transition-opacity duration-300 hover:opacity-100 opacity-85">
    <a
      href="https://www.credly.com/badges/49b18c18-1b52-4e5f-9b38-ca0662bcbc74/public_url"
      target="_blank"
    >
      <img src="/badges/gitfinal.png" alt="git" /></a
    >
  </div>

  <div class="transition-opacity duration-300 hover:opacity-100 opacity-85">
    <a
      href="https://www.credly.com/badges/41430ff4-4cea-40df-9299-1f8f63f43cd3/public_url"
      target="_blank"
    >
      <img src="/badges/pythonds.png" alt="PythonDataScience" /></a
    >
  </div>

  <div class="transition-opacity duration-300 hover:opacity-100 opacity-85">
    <a
      href="https://www.credly.com/badges/d92dffc3-1040-4cec-bc7e-15adf357fb66/public_url"
      target="_blank"
    >
      <img src="/badges/pythonai.png" alt="PythonAI" /></a
    >
  </div>

  <div class="transition-opacity duration-300 hover:opacity-100 opacity-85">
    <a
      href="https://www.credly.com/badges/7b866cf4-8ef7-4527-8bc3-74243eadfd78/public_url"
      target="_blank"
    >
      <img src="/badges/devops2.png" alt="Devops" /></a
    >
  </div>

  <div class="transition-opacity duration-300 hover:opacity-100 opacity-85">
    <a
      href="https://www.credly.com/badges/6b752a8a-dc94-4f43-8cf7-23edd363ada8/public_url"
      target="_blank"
    >
      <img src="/badges/cloud.png" alt="Cloud" /></a
    >
  </div>
</div>

<style>
  #foot {
    margin-bottom: 5px;
  }
</style>
