<footer
  class="rounded-lg shadow m-4 bg-black/20 backdrop-blur-lg w-full xl:w-[1120px] mx-auto mb-10"
>
  <div
    class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between"
  >
    <span class="text-sm text-black/80 dark:text-white"
      >© 2024 <a
        href="https://damianflores.web.app/"
        target="_blank"
        class="hover:underline">Make By Damian Flores</a
      >. All Rights Reserved.
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-black/80 dark:text-white sm:mt-0"
    >
      <li>
        <a href="#top" class="hover:underline me-4 md:me-6">About</a>
      </li>
      <li>
        <a href="#experience" class="hover:underline me-4 md:me-6">Experience</a
        >
      </li>
      <li>
        <a href="#projects" class="hover:underline me-4 md:me-6">Projects</a>
      </li>
      <li>
        <a href="mailto:yoman.damian@gmail.com" class="hover:underline"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</footer>
